.Rproj.user
.Rhistory
.RData
.Ruserdata
.python-version
.DS_Store

_site/

__pycache__
.pytest_cache
.imported/

/.quarto/
*_cache/
.ipynb_checkpoints/
.venv/
examples/NSIDC/data

**/dask-worker-space/

/.venv/

how-tos/test.nc
earthdata-cloud-cookbook.code-workspace
