project:
  type: website
  output-dir: _site

execute:
  freeze: true  # never re-execute computational content during project render, needed for .qmd and .rmd since quarto does not render .ipynb by default

website:
  page-navigation: true
  title: "EarthData Cloud Cookbook"
  site-url: https://nasa-openscapes.github.io/earthdata-cloud-cookbook
  repo-url: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
  repo-actions: [edit, source, issue]

  page-footer: 
    left: "NASA Earthdata Cloud Cookbook, &copy; NASA Openscapes Team (2023)."
  
  sidebar:
    title: "NASA Earthdata Cloud Cookbook"
    logo: images/nasa-openscapes.png
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://nasa-openscapes.github.io
        text: "NASA-Openscapes website"
      - icon: github
        href: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
        text: "Earthdata Cloud Cookbook repo"
        
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - text: "Welcome"
        href: index.qmd
      - text: "When To Cloud"
        href: when-to-cloud.qmd
      - text: "Our Cookbook"
        href: our-cookbook.qmd
      - text: "Cheatsheets & Slides" 
        href: cheatsheets.qmd      
      - text: "Cloud Environment Setup"
        href: environment-setup/index.qmd
      - section: "How do I..."
        contents: 
          - section: "find data"
            contents:
              - text: "with Earthdata Search"
                href: how-tos/find-data/earthdata_search.md
              - text: "with Python" 
                href: how-tos/find-data/find-python.ipynb
              - text: "with R" 
                href: how-tos/find-data/find-r.qmd
          - section: "access in the cloud"
            contents: how-tos/access-data/index.md
              - text: "with Python"
                href: how-tos/access-data/access-cloud-python.qmd
              - text: "with R"
                href: how-tos/access-data/access-cloud-r.qmd 
          - section: "access locally"  
            contents:
              - text: "with Python"
                href: how-tos/access-data/access-local-python.qmd
              - text: "with OPeNDAP"
                href: how-tos/access-data/access-local-opendap.qmd
            contents:
              - text: "if I'm in the cloud"
                href: how-tos/if-im-in-the-cloud.qmd
              - text: "if I'm on my local machine"
                href: how-tos/if-im-local.qmd
          - text: "read data"    
            href: how-tos/read_data.qmd
          - text: "subset data"
            href: how-tos/subset.qmd
          - text: "reformat data files"
            href: how-tos/reformat.qmd
          - text: "reproject and regrid"
            href: how-tos/reproject_regrid.qmd
          - text: "aggregate data"
            href: how-tos/aggregate.qmd
          - text: "plot data"
            href: how-tos/plot.qmd
          - section: "use APIs"
            href: how-tos/use_apis.qmd
            contents:
              - text: "AppEEARS Cloud CSV Access "
                href: external/appeears_csv_cloud_access.ipynb
          - text: "parking lot"
            href: how-tos/how_to_guide_parking_lot.qmd
      - section: "Tutorials"
        href: tutorials/index.qmd
        contents:
          - text: "Earthdata Cloud Clinic"
            href: examples/Earthdata-cloud-clinic.ipynb
          - text: "Multi-datasets 1"
            href: external/How_to_Perform_Cross-DAAC_S3_Bucket_Access_Using_Python.ipynb
          - text: "Multi-datasets 2"
            href: external/IS2_cloud_Landsat_integration.ipynb
          - text: "Sea Level Rise: `earthaccess`"
            href: external/Sea_level_rise_notebook.ipynb
          - text: "Cloud & Non-cloud"
            href: tutorials/04_On-Prem_Cloud.ipynb
          - text: "`earthaccess` Python library"
            href: tutorials/earthaccess-demo.ipynb
          - text: "Pygeoweaver Workflow Demo"
            href: tutorials/fair-workflow-geoweaver-demo.ipynb
          - text: "OPeNDAP Access" 
            href: tutorials/Earthdata_Cloud__Data_Access_OPeNDAP_Example.ipynb
      - section: "Workshops & Hackathons"
        href: workshops/index.qmd
        contents:
          - text: "Workshop Setup"
            href: workshops/setup.md
      - section: "In Development"
        href: in-development/index.qmd
        contents:
          - text: "Search & Download NSIDC Cloud"
            href: examples/NSIDC/ICESat2-CMR-OnPrem-vs-Cloud.ipynb
          - text: "Access NSIDC Cloud w/ CMR"
            href: examples/NSIDC/ICESat2-CMR-AWS-S3.ipynb
          - text: "Direct Access & Harmony Workflow"
            href: examples/Transform-workflow.ipynb
          - text: "Search & Access USGS Landsat Cloud" 
            href: examples/USGS_Landsat/Landsat_C2_Search_Access.ipynb
          - text: "Direct S3 Data Access: NetCDF - Daymet v4 Daily TMAX Example"
            href: examples/ORNL/Data_Access__Direct_S3_Access__ORNL_DAYMET.ipynb
          - text: "Access ECCO data via Harmony & the Zarr reformatter service"
            href: external/cof-zarr-reformat.ipynb
          - text: "zarr-eosdis-store example"
            href: external/zarr-eosdis-store.ipynb
          - section: "Example Workflows"
            href: examples/index.qmd
            contents: 
              - text: "GES DISC - MERRA2"
                href: examples/GESDISC/GESDISC_MERRA2_tavg1_2d_flx_Nx__Kerchunk.ipynb
              - text: "LP DAAC ECOSTRESS"
                href: examples/LPDAAC/LPDAAC_ECOSTRESS_LSTE__Kerchunk.ipynb
              - text: "PO.DAAC ECCO SSH"
                href: examples/PODAAC/PODAAC_ECCO_SSH__Kerchunk.ipynb
          - text: "MATLAB & AWS"
            href: in-development/matlab.qmd
          - text: "CMR STAC in R"
            href: in-development/CMR-STAC-Search.Rmd
          - text: "`earthdata`: Python-R Handoff"
            href: in-development/earthdata-python-r-handoff.qmd  
      - section: "Contributing"
        href: contributing/index.qmd
        contents:
          - text: "Setup"
            href: contributing/setup.qmd
          - text: "Workflows"
            href: contributing/workflow.qmd
          - text: "Quarto Tutorial"
            href: contributing/quarto-website-tutorial.md
          - text: "Troubleshooting"
            href: contributing/troubleshooting.md
          - text: "Onboarding Mentors"
            href: contributing/onboarding.qmd
      - section: "Appendix"
        href: appendix/index.md
        contents:
          - text: "Authentication"
            href: appendix/authentication.qmd
    

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true

filters:
  - include-files.lua
  - quarto
