project:
  type: site
  output-dir: _site

execute:
  ipynb: false
  freeze: true

site:
  site-url: https://nasa-openscapes.github.io/earthdata-cloud-cookbook
  repo-url: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
  repo-actions: [edit, issue]
  page-navigation: true
  sidebar:
    title: "EarthData Cloud Cookbook"
    logo: nasa-openscapes.png
    style: "docked"
    background: light
    search: true
    collapse-level: 2
    align: left
    tools:
      - icon: github
        href: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
    contents:
      - text: "Welcome"
        href: index.md
      - section: get-started/index.md
        contents:
          - get-started/how-to-use.md
          - get-started/earthdata-login.qmd
          - section: get-started/authentication.md
            contents:
              - get-started/lpdaac-netrc.ipynb
              - get-started/podaac-ecco-netrc.ipynb
          - get-started/api-primer.qmd
      - section: discovery/index.md
        contents:
          - discovery/Navigate_CMR_STAC.ipynb
          - discovery/earthdata-search-ui.md
          - discovery/cmr-virtual-directories.md
      - section: access/index.md
        contents:
          - access/data-access-example.ipynb
          - access/earthdata-search.md
          - access/opendap-cloud.md
          - section: access/direct-in-region.md
            contents:
              - access/podaac-ecco-data_access-cloud_direct_access_s3.ipynb
          - access/cof-via-harmony.md
          - access/download-to-local.md
      - section: transformations/index.md
        contents:
          - transformations/harmony-api.md
          - transformations/HarmonyPy_intro_tutorial.ipynb
          - transformations/netcdf-to-zarr.md
          - section: transformations/L2-subsetter.md
            contents: 
              - transformations/harmony-subsetting.qmd
          - transformations/earthdata-search.md
          - transformations/opendap-cloud.md
      - section: examples/index.md
        contents:
          - examples/python-example.qmd
          - examples/r-example.Rmd
          - examples/notebook-example.ipynb
      - section: appendix/index.md
        contents:
          - appendix/glossary.md
          - transformations/harmonypy.md
      - section: contributing/index.md
        contents:
          - contributing/setup.qmd
          - contributing/workflow.md

bibliography: references.bib

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true
