project:
  type: website
  output-dir: _site

execute:
  freeze: true  # never re-execute computational content during project render, needed for .qmd and .rmd since quarto does not render .ipynb by default

website:
  page-navigation: true
  title: "EarthData Cloud Cookbook"
  site-url: https://nasa-openscapes.github.io/earthdata-cloud-cookbook
  
  repo-url: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
  repo-actions: [edit, source, issue]

  # page-footer: "NASA Openscapes Team (2021). Earthdata Cloud Cookbook (Version v0.0.1)."
  page-footer: 
    left: "NASA Earthdata Cloud Cookbook, &copy; NASA Openscapes Team (2023)."
  
  sidebar:
    title: "NASA Earthdata Cloud Cookbook"
    logo: images/nasa-openscapes.png
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://nasa-openscapes.github.io
        text: "NASA-Openscapes website"
      - icon: github
        href: https://github.com/nasa-openscapes/earthdata-cloud-cookbook
        text: "Earthdata Cloud Cookbook repo"
        
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - text: "Welcome"
        href: index.qmd
      - our-cookbook.qmd  
      - text: "Cheatsheets & Slides" 
        href: cheatsheets.qmd      
      - section: "How do I..."
        # href: how-tos/index.qmd
        contents: 
          - section: "find data"
          #how-tos/find-data/index.md
            contents:
              - text: "using Earthdata Search"
                href: how-tos/find-data/earthdata_search.md
              - text: "using code" 
                href: how-tos/find-data/programmatic.qmd                
          - section: "access data"
            href: how-tos/access_data.qmd 
            contents:
              - text: "if I'm in the cloud"
                href: how-tos/if-im-in-the-cloud.qmd
              - text: "if I'm on my local machine"
                href: how-tos/if-im-local.qmd
          - text: "read data"    
            href: how-tos/read_data.qmd
          - text: "subset data"
            href: how-tos/subset.qmd
          - text: "reformat data files"
            href: how-tos/reformat.qmd
          - text: "reproject and regrid"
            href: how-tos/reproject_regrid.qmd
          - text: "aggregate data"
            href: how-tos/aggregate.qmd
          - text: "plot data"
            href: how-tos/plot.qmd
          - text: "use APIs"
            href: how-tos/use_apis.qmd
          #- section: "setup AWS"  # Park for now  
          #  contents:
          #    - text: "Place holder for AWS setup"
          #      href: how-tos/tech-setup.qmd
          - how-tos/how_to_guide_parking_lot.md
      - section: tutorials/index.qmd
        contents:
          - href: examples/Earthdata-cloud-clinic.ipynb
            text: "Earthdata Cloud Clinic"
          - href: external/How_to_Perform_Cross-DAAC_S3_Bucket_Access_Using_Python.ipynb
            text: "Multi-datasets 1"
          - href: external/IS2_cloud_Landsat_integration.ipynb
            text: "Multi-datasets 2"
          - href: external/Sea_level_rise_notebook.ipynb
            text: "Sea Level Rise: `earthaccess`"
          - href: tutorials/04_On-Prem_Cloud.ipynb
            text: "Cloud & Non-cloud"
          - href: tutorials/earthaccess-demo.ipynb
            text: "`earthaccess` Python library"
      - section: workshops/index.qmd
        contents:
          - href: workshops/setup.md
            text: "Workshop Setup"
      - section: in-development/index.qmd
        contents:
          - href: examples/NSIDC/ICESat2-CMR-OnPrem-vs-Cloud.ipynb
            text: "Search & Download NSIDC Cloud"
          - href: examples/NSIDC/ICESat2-CMR-AWS-S3.ipynb
            text: "Access NSIDC Cloud w/ CMR"          
          - href: examples/Transform-workflow.ipynb
            text: "Direct Access & Harmony Workflow"
          - href: examples/USGS_Landsat/Landsat_C2_Search_Access.ipynb
            text: "Search & Access USGS Landsat Cloud"  
          - text: "OPeNDAP Access" 
            href: how-tos/working-locally/Earthdata_Cloud__Data_Access_OPeNDAP_Example.ipynb
          - examples/ORNL/Data_Access__Direct_S3_Access__ORNL_DAYMET.ipynb
          - external/cof-zarr-reformat.ipynb
          - external/zarr-eosdis-store.ipynb
          - section: examples/index.qmd
            contents: 
              - examples/GESDISC/GESDISC_MERRA2_tavg1_2d_flx_Nx__Kerchunk.ipynb
              - examples/LPDAAC/LPDAAC_ECOSTRESS_LSTE__Kerchunk.ipynb
              - examples/PODAAC/PODAAC_ECCO_SSH__Kerchunk.ipynb
          - href: in-development/matlab.qmd
            text: "Matlab & AWS"
          - href: in-development/CMR-STAC-Search.Rmd
            text: "CMR STAC in R"  
          - href: in-development/earthdata-python-r-handoff.qmd  
      - section: contributing/index.qmd
        contents: 
          - contributing/onboarding.qmd
          - contributing/setup.qmd
          - contributing/workflow.qmd
          - contributing/resources.md
          - contributing/quarto-website-tutorial.md
      - section: appendix/index.md
        contents:
          - appendix/authentication.qmd
      - troubleshooting.md

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true

filters:
  - include-files.lua
  - quarto
