anyio
appnope
argon2-cffi
async-generator
attrs
Babel
backcall
bleach
certifi
cffi
chardet
cycler
decorator<5
defusedxml
entrypoints
idna<3
imageio
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
quarto
requests
scikit-image
scipy
Send2Trash
six
sniffio
terminado
testpath
tifffile
tornado
traitlets
urllib3
wcwidth
webencodings
websocket-client
