jupyterhub
jupyterlab
notebook
jupyterlab-quarto
jupyter-rsession-proxy
jupyter-vscode-proxy
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
gh-scoped-creds
nbconvert
nbformat
odc-stac
planetary-computer
polars
pyarrow
pystac-client
scikit-image
hvplot
geoviews
earthaccess
pyresample
contextily
rioxarray
geopandas
rasterstats
dask
distributed
h5netcdf
h5py
netCDF4
zarr
lxml

